{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="jumbotron">
    <h1 style="font-size:50px;">We make finding accessible restaurants easy.</h1>
	<a href="/review/" class="btn btn-info btn-lg hidden-xs" style="margin-top:20px;">Review a Restaurant</a>
	<a href="/search/" class="btn btn-success btn-lg hidden-xs" style="margin-top:20px; float: right;">Search Restaurants</a>
	<a href="/review/" class="btn ae-index-btn btn-info visible-xs" style="margin-top:20px;">Review a Restaurant</a>
	<a href="/search/" class="btn ae-index-btn btn-success visible-xs" style="margin-top:20px; float: right;">Search Restaurants</a>
</div>
<div class = "row step-row">
	<h1 style="font-size:50px;" class="text-center">It's as easy as 1-2-3!</h1>
</div>
<div class = "row step-row">
	<h1 class="text-center">Step 1: Learn about accessible dining.</h1>
	<h3 class="text-center">Check out our <a href="/resources/">online resources</a> for more information.</h3>
</div>
<div class="row step-row">
	<h1 class="text-center" style="margin-top:0px;">Step 2: Review your favorite restaurants.</h1>
	<div class="col-md-4 col-xs-12">
		<div class="text-center hidden-xs"><i class="fa fa-4x fa-rotate-45 fa-long-arrow-down"></i></div>
		<div class = "step-info">
			<div class="text-success step-img"><i  class="fa fa-4x fa-mobile"></i></div>
			<h4 class="step-text">Text +1 (424)-AXO-EATS with the name and city of a restaurant to receive a personalized link to our accessibility survey.</h4>
		</div>
	</div>
	<div class="col-md-4 col-xs-12">
		<div class="text-center hidden-xs"><i class="fa fa-4x fa-long-arrow-down"></i></div>
		<div class = "step-info">
			<div class="text-info step-img" ><i  class="fa fa-4x fa-twitter"></i></div>
			<h4 class="step-text">Tweet <a href="https://twitter.com/accessible_eats">@accessible_eats</a> with the same information and also receive a personalized link.</h4>
		</div>
	</div>
	<div class="col-md-4 col-xs-12">
		<div class="text-center hidden-xs"><i class="fa fa-4x fa-rotate-315 fa-long-arrow-down"></i></div>
		<div class = "step-info">
			<div class="text-danger step-img" ><i class="fa fa-4x fa-desktop"></i></div>
			<h4 class="step-text">Or fill out the survey using <a href="/review/">our online form.</a></h4>
		</div>
	</div>
</div>
<div class = "row step-row">
	<h1 class="text-center">Step 3: Fill out the form.</h1>
	<h3 class="text-center">Answer each question to the best of your ability and leave any comments you feel could be important.</h3>
</div>
{% endblock %}

{% block footer %}
<div class="footer">
	<div class = "container">
    	<p style="float:left">&copy; Accessible Eats 2015</p>
    	<p style="float:right">Created by <a href="mailto:kunalmehta@college.harvard.edu">Kunal Mehta</a></p>
    </div>
</div>
{% endblock %}