{% extends 'base.html' %}

{% block content %}
<div class="row" id = "survey-only">
	<h3 class="text-center">{{restaurant.name}}</h3>
	<h5 class="text-center">{{restaurant.address_oneline}}</h5>
	<h5 class="text-center">{{restaurant.display_phone}}</h5>
	<hr>
	<form action="/survey/{{restaurant_id}}/" method="post">{% csrf_token %}
	    <h4 class="text-center">Please check boxes if restaurant has the following features.</h4>
	    <div class="hidden">{{form.restaurant}}</div>
	    <table class="table table-striped">
	    	<tr class="checkbox-header-row">
	    		<th class="question">Question</th>
	    		<th class="checkbox checkbox-header">Yes?</th>
	    	</tr>
	    	<tr class="form-row">
			    <div class = "form-group form-checkbox">
			    	<td class="question">
				    	<div class="text-danger">{{form.has_accessible_bathroom.errors.as_text}}</div>
				    	{{form.has_accessible_bathroom.help_text}}
			    	</td>
			    	<td class="checkbox">
			    		{{form.has_accessible_bathroom}}
			    	</td>
			    </div>
	    	</tr>
	    	<tr class="form-row">
			    <div class = "form-group form-checkbox">
			    	<td class="question">
				    	<div class="text-danger">{{form.has_parking.errors.as_text}}</div>
				    	{{form.has_parking.help_text}}
			    	</td>
			    	<td class="checkbox">
			    		{{form.has_parking}}
			    	</td>
			    </div>
	    	</tr>
	    	<tr class="form-row">
			    <div class = "form-group form-checkbox">
			    	<td class="question">
				    	<div class="text-danger">{{form.has_entrances.errors.as_text}}</div>
				    	{{form.has_entrances.help_text}}
			    	</td>
			    	<td class="checkbox">
			    		{{form.has_entrances}}
			    	</td>
			    </div>
	    	</tr>
	    	<tr class="form-row">
			    <div class = "form-group form-checkbox">
			    	<td class="question">
				    	<div class="text-danger">{{form.has_ramp.errors.as_text}}</div>
				    	{{form.has_ramp.help_text}}
			    	</td>
			    	<td class="checkbox">
			    		{{form.has_ramp}}
			    	</td>
			    </div>
	    	</tr>
	    	<tr class="form-row">
			    <div class = "form-group form-checkbox">
			    	<td class="question">
				    	<div class="text-danger">{{form.has_space.errors.as_text}}</div>
				    	{{form.has_space.help_text}}
			    	</td>
			    	<td class="checkbox">
			    		{{form.has_space}}
			    	</td>
			    </div>
	    	</tr>
	    </table>
	    <div class = "form-group">
	    	<div class="text-danger">{{form.comments.errors.as_text}}</div>
	    	{{form.comments.label_tag}}
	    	{{form.comments}}
	    </div>
	    <div class = "form-group">
			<div class="col-md-6 col-sm-10 col-md-offset-3 col-sm-offset-1 col-xs-10 col-xs-offset-1">
				<button class="btn btn-success btn-lg btn-block" type="submit">Submit Review</button>
			</div>
		</div>
	</form>
</div>
{% endblock %}