{% load staticfiles %}

<div id="verifiedreview{{restaurant.id}}" class="panel panel-default">
  <div class="panel-body">
    <div class = "row">
      <div style="display:inline-block; float:left; height: 60px; padding-left:15px;">
        <h4>{{restaurant.name}}</h4>
        <p class="hidden-xs" style="font-size:12px;">{{restaurant.address_oneline}} {{restaurant.display_phone}}</p>
        <p class="visible-xs" style="font-size:12px;">{{restaurant.display_address}}</p>
      </div>
      <div style="display:inline-block; float:right; height: 60px; padding-right:15px; padding-top:5px; text-align:right;">
            <p class="{{restaurant.accessible_rating_color}}"><i style="margin-right:5px" class="fa fa-wheelchair"></i><span style="font-size:1.2em">{{restaurant.accessible_rating}}</span>/{{restaurant.max_rating}} <span style="color:#222222">({{restaurant.review_count}})</span></p>
            <div style = "width:120px; float:right;margin-top:0px">
                <a target="_blank" href="{{restaurant.url}}"><img style="height: 15px; float:left;" src="{{restaurant.rating_img}}"></a>
                <a target="_blank" href="{{restaurant.url}}"><img style="height: 20px; margin-top:-10px;" src="{% static 'img/yelp_logo_large.png' %}"></a>
            </div>
      </div>
    </div>
    <hr style="margin-top: 10px; margin-bottom: 10px">
    <p><strong>Categories</strong>: {{restaurant.categories_list}}</p>
    <p><strong>Features</strong>: {{restaurant.accessibility_data}}</p>
    {% if restaurant.not_accessibility_data != 'None' %}
    <p><strong>Doesn't have</strong>: {{restaurant.not_accessibility_data}}</p>
    {% endif %}    

    {% if restaurant.image_list or restaurant.comment_list %}
    <div class = "visible-xs" style="float:right; display:block;">
    
    <p style="margin: 0px; padding: 0px; margin-top: -21px; cursor: pointer;"><a href="/detailed/{{restaurant.id}}/" target="_blank">See more &rarr;</a></p>
    
    </div>


    <div class = "hidden-xs">
      <div style="float:right; display:block;">
        <p id="showmore{{restaurant.id}}" style="margin: 0px; padding: 0px; margin-top: -30px; cursor: pointer;"><a onclick="showMore({{restaurant.id}})">See more &darr;</a></p>
        <p id="showless{{restaurant.id}}" style="display:none; margin: 0px; padding: 0px; margin-top: -30px; cursor: pointer;"><a onclick="showLess({{restaurant.id}})">See less &uarr;</a></p>
      </div>
      <div class="extended" style="display: none; clear:both" id="extended{{restaurant.id}}">
        <hr style="margin-top: 10px; margin-bottom: 10px">
        <ul class="nav nav-tabs nav-justified">
          {% if restaurant.comment_list %}
          <li class="active"><a data-toggle="tab" href="#{{restaurant.id}}-extended-comments">Comments</a></li>
          {% endif %}

          {% if restaurant.image_list %}
            {% if restaurant.comment_list %}
            <li><a data-toggle="tab" href="#{{restaurant.id}}-extended-images">Images</a></li>
            {% else %}
            <li class="active"><a data-toggle="tab" href="#{{restaurant.id}}-extended-images">Images</a></li>
            {% endif %}
          {% endif %}
        </ul>
        <div class="tab-content">
          <div id="{{restaurant.id}}-extended-comments" class="tab-pane fade in active">
            
            <div style="width: 90%; margin: 0 auto;">
              <table class="table table-striped">

                <div style="margin-top:30px"></div>
                {% for comment in restaurant.comment_list %}
                <tr>
                  <td style="padding:15px;">{{comment}}</td>
                </tr>
                {% endfor %}
              </table>

            </div>
          </div>
          {% if restaurant.comment_list %}
          <div id="{{restaurant.id}}-extended-images" class="tab-pane fade">
          {% else %}
          <div id="{{restaurant.id}}-extended-images" class="tab-pane fade in active">
          {% endif %}

          <div style="margin-top:30px"></div>
          {% for img in restaurant.image_list %}
            <div class = "col-md-6">
              <img src='{{img}}' style="margin: 0 auto; margin-bottom: 10px; display: block; height: auto; width:auto; max-width:90%; max-height:300px;"></img>
            </div>
          {% endfor %}

          </div>
        </div>
      </div>

    </div>
    {% endif %}




  </div>
</div>