packages:
  yum:
    gcc: []
    python26-setuptools: []
    python26-devel: []
    postgresql92-devel: []
    libjpeg-turbo-devel: []
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "accessible_eats.settings"
    PYTHONPATH: "/opt/python/current/app/:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "accessible_eats/wsgi.py"
container_commands:
  01_make_migrations:
    command: "source /opt/python/run/venv/bin/activate && python manage.py makemigrations --noinput"
    leader_only: true
  02_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
    leader_only: true